@model Stardust.Core.Services.ConfigurationReader.EndpointConfig

@{
    ViewBag.Title = "CreateEndpoint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateEndpoint</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EndpointConfig</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ServiceName)
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActiveEndpoint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActiveEndpoint)
            @Html.ValidationMessageFor(model => model.ActiveEndpoint)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
