@model IEnumerable<Stardust.Starterkit.Configuration.Repository.IEnvironment>
<div class="panel">
    <div class="panel panel-title" style="cursor: pointer" data-toggle="collapse" data-target="#env">&nbsp;<i class="glyphicon glyphicon-globe"></i> Environments</div>
    <div id="env" class="panel panel-body collapse">
        <p>
            @Html.ActionLink("Create New", "Create", "Environment", new { id = "new", item = ViewBag.Id }, null)
        </p>
        <table class="table table-striped table-hover table-condensed ">
            <tr>
                <th style="width: 200px">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th style="width: 200px" class="hidden-xs hidden-sm ">
                    @Html.DisplayNameFor(model => model.ETag)
                </th>
                <th class="hidden-xs hidden-sm hidden-md">
                    @Html.DisplayNameFor(model => model.LastPublish)
                </th>

                <th>Actions</th>
            </tr>

            @foreach (var item in from m in Model orderby m.Name ascending select m)
            {
                <tr>
                    <td>
                        <a href="#env.@Html.Raw(item.Id)" name="#env.@Html.Raw(item.Id)"></a>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="hidden-xs hidden-sm">
                        @Html.DisplayFor(modelItem => item.ETag)
                    </td>
                    <td class="hidden-xs hidden-sm hidden-md">
                        @Html.DisplayFor(modelItem => item.LastPublish)
                    </td>
                    <td>
                        <span >
                            @Html.ActionLink("Details", "Details", "Environment", new { id = "edit", item = item.Id }, new { Class = "btn btn-link ", title = "View and edit " + item.Name }) |
                            @Html.ActionLink("Delete", "Delete", "Environment", new { id = "edit", item = item.Id }, new { Class = "btn btn-link hidden-xs hidden-sm hidden-md", title = "Delete " + item.Name }) <span class="hidden-xs hidden-sm hidden-md">|</span>
                            @Html.ActionLink("JSON data", "ConfigReader", "api", new { id = item.ConfigSetNameId, env = item.Name }, new { Class = "btn btn-link hidden-xs hidden-sm hidden-md", title = "View json data for " + item.Name }) <span class="hidden-xs hidden-sm hidden-md">|</span>
                            @Html.ActionLink("Publish", "NotifyChange", "Environment", new { id = item.Id }, new { Class = "btn btn-link ", title = "Update ETag, last change date and notify cache servers and proxies" })
                        </span>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
