@model IEnumerable<Stardust.Starterkit.Configuration.Repository.IServiceDescription>

<p>
    @Html.ActionLink("Create service", "Create", "Service", new { id = "new", command = (string)ViewBag.Id }, null)
</p>
<table class="table table-striped table-hover table-condensed ">
    <tr>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width: 200px;">
            @Html.DisplayNameFor(model => model.ClientEndpoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endpoints)
        </th>
        <th></th>
    </tr>

    @foreach (var item in from m in Model orderby m.Name ascending select m)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.ClientEndpoint))
                {
                    @Html.ActionLink(item.ClientEndpoint, "Details", "Endpoint", new { id = "edit", item = item.Id + "-" + item.ClientEndpoint }, new { Class = "btn btn-link ", title = "Edit active endpoint for " + item.Name })
                }
            </td>
            <td>
                @string.Join("|", from i in item.Endpoints select i.Name)
            </td>
            <td>
                <span class="pull-right">
                    @Html.ActionLink("Details", "Details", "Service", new { id = "edit", item = item.Id }, new { Class = "btn btn-link ", title = "Edit " + item.Name }) |
                    @Html.ActionLink("Delete", "DeleteService", "Service", new { id = item.Id }, new { Class = "btn btn-link ", title = "Delete " + item.Name })
                </span>
            </td>
        </tr>
    }

</table>
