@using Microsoft.AspNet.Identity
@using Stardust.Starterkit.Configuration.Business
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @*<span>@Html.Gravatar(User.Identity.GetUserName(), 20, new { Title = User.Identity.GetUserName() }) @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Edit", "User", routeValues: new { id = ConfigReaderFactory.CurrentUser.NameId }, htmlAttributes: new { title = "Manage" })</span>*@
                <a style="padding-top: 10px; padding-bottom: 0;" href="@Url.Action("Edit","User",new { id = ConfigReaderFactory.CurrentUser.NameId })">@Html.Gravatar(User.Identity.GetUserName(), 40, new { Title = "Avarar by Gravatar.com" }) <span class="hidden-md">Hello @User.Identity.GetUserName()!<span></span></a>
            </li>
            
        </ul>
    }
}
else
{

}
