@using Stardust.Particles
@model IEnumerable<Stardust.Starterkit.Configuration.Repository.IServiceHostParameter>
<div class="panel">
    <div class="panel panel-title" style="cursor: pointer" data-toggle="collapse" data-target="#params">&nbsp;<i class="glyphicon glyphicon-list"></i> Parameters</div>
    <div id="params" class="panel panel-body collapse">
        <p>
            @Html.ActionLink("Create New", "Create", "ServiceHostParameter", new { id = ViewBag.HostId }, null)
        </p>
        <table class="table table-striped table-hover table-condensed ">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemValue)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="#host.@Html.Raw(item.Id)" name="#host.@Html.Raw(item.Id)"></a>
                        @Html.DisplayFor(modelItem => item.Name)
                        @if (item.Description.ContainsCharacters())
                        {
                            <br/>
                            <span class="glyphicon glyphicon-info-sign iffyTip">&nbsp;&nbsp;&nbsp;</span><span class="info" style="font-style: italic; font-size: 10px; padding-left: 5px; padding-right: 5px; padding-top: 5px; padding-bottom: 5px; border-style: solid; border-width: 1px; ; border-color: #808080">@Html.Raw(item.Description)</span>
                        }
                    </td>
                    <td>
                        <td>
                            
                            @if (item.ItemValue.IsNullOrWhiteSpace())
                            {<div class="iffyTip wd250 info">@if (item.IsSecureString)
                            {<i class="glyphicon glyphicon-lock"></i>}<i class="glyphicon glyphicon-repeat"></i>@Html.DisplayFor(modelItem => item.Value)</div>}
                            else
                            {
                                <div class="iffyTip wd250 warning">@if (item.IsSecureString)
                                {<i class="glyphicon glyphicon-lock"></i>}<i class="glyphicon glyphicon-leaf"></i>@Html.DisplayFor(modelItem => item.ItemValue)</div>
                            }
                        </td>
                    </td>
                    
                    <td>
                        @Html.ActionLink("Details", "Details", "ServiceHostParameter", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

