@using Stardust.Particles
@model IEnumerable<Stardust.Starterkit.Configuration.Repository.IEndpointParameter>



@Html.ActionLink("Create", "CreateSub", "Parameters", new { id = "create", item = ViewBag.Id }, null)

<table class="table table-striped table-hover table-condensed ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemValue)
        </th>
      

        <th></th>
    </tr>

    @foreach (var item in from m in Model orderby m.Name ascending select m)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td >
                
                @if (item.ItemValue.IsNullOrWhiteSpace())
                {<div class="iffyTip wd250 info">
                     @if (item.ConfigurableForEachEnvironment)
                     {<i class="glyphicon glyphicon-arrow-up"></i>}<i class="glyphicon glyphicon-repeat"></i>@Html.DisplayFor(modelItem => item.Value)
                 </div>}
                else
                {
                    <div class="iffyTip wd250 warning">
                        @if (item.ConfigurableForEachEnvironment)
                        {<i class="glyphicon glyphicon-arrow-up"></i>}<i class="glyphicon glyphicon-leaf"></i>@Html.DisplayFor(modelItem => item.ItemValue)
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Parameters", new { id = "upd", item = item.Id }, null)
            </td>
        </tr>
    }

</table>
